@font-face {
    font-family: "FiraCode";
    src: url("../Fonts/FiraCode/FiraCode-VF.woff");
}

body {
    font-size: 20px;
    background-color: rgba(15, 15, 15, 0.81);
margin:0;
}
.menuBar{
    margin:0 5px;
    position: sticky;
    display: flex;
    justify-content: center;
    top:0;
    height: 40px;
    background-color: #313131;
}
.contentHeader{
    margin-top:6em;
}
.textWithe {
    color: #ffffff;
    font-family: "FiraCode";
}

.about {
    margin: 0 0 0 5.5em;

}

.person {
    width: 16em;
    float: right;
}

.personal {
    clear: right;
}

#aboutMe {
    font-size: 32px;
}

#ContainerExampleImages {
    margin: 8em 0 0 0;
    padding: 0 1em;
}

#skillIntro {
    font-size: 32px;
}

.container {
    margin: 0 7em 10em 8em;
}

.text {
    color: #D9D9D9;
    font-family: "FiraCode";
}

.text h2 {
    margin: 2em 0 0 0;
    font-size: 40px;
}

.images {
    display: flex;
    flex-flow: row wrap;
}
.image{
    cursor:pointer;
    transition-property: width, height, top, left, right, bottom;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.flags{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flags__item{
    width: 30px;
}
.flags__img{
    display: block;
    cursor:pointer;
}

.images img {
    width: 20vw;
    min-width: 4vw;
    height: auto;
}

.imageExample {
    margin: 0 2em 0 0;
    padding: 0 0.2em;
}

.imagesAlone img:not(.flags__img) {
    width: 20vw;
    min-width: 4vw;
    height: auto;

}
.videos{
    margin: 1em 0 0 0;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.ContainerPortfolio {
    margin: 1em 1.5em;
    padding: 1em 0.5em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contentMedia {
    display: flex;
    flex-flow: column wrap;
    padding: 0.1em;
}

.infoSkill {
    margin-right: 2em;
    width: 18.45em;
}
.titleProject {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.SkillSection {
    margin-top: 1em;
}
.language{
    display: flex;
    flex-flow: row nowrap;
}
.language p{
    width: 5em;
    margin-right:2em;
}
.flags_Special{
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#personal {
    width: 16em;
    min-width: 4vw;
    height: auto;
    display: block;
}
#webProject{
    background-color: #282626;
}
#VideoGames{
    background-color: #313131;
}
#DesktopApp{
    background-color: #282626;
}
#Languages{
    background-color: #313131;
}
#firstRow{
    display:flex;
    flex-flow: row wrap;
}
hr {
    padding: 0;
    border: none;
    border-top: medium double #8c8c8c;
    color: #8c8c8c;
    text-align: center;
}

hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #fff;
}

iframe {
    display: block;
    width: 20vw;
    min-width: 4vw;
    height:25vh;
}